doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	
	body.default
		
		header
			#header
				.menu-btn
					span.btn-hrz-mid
		
		#body
			block content

		script(src="http://code.jquery.com/jquery-1.12.0.min.js", type="text/javascript")
		script(src="/js/peerngineer.js")
