doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		
		title= title
		
		//- bootstrap
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		
		//get material elements
		link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css")
		script(src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js")
		
		//- custom stylesheets
		link(rel='stylesheet', href='/stylesheets/style.css')
	
	body.default
		#hamburger-menu
			.hamburger-menu
				#menu
					.close-menu
						button.button.red.align(type="button") Close
					ul.menu
						li: a(href="#") Topics
						li: a(href="#") About
						if isUser
							li: a(href="/user/profile") Account
							li: a(href="/access/logout") Logout
						else
							li: a(href="/access/register") Register
							li: a(href="/access/login") Login
				.close-sect
			
		header
			#header
				a.logo(href="/")
					img(src="/images/peerngineer-org.png")
				a.open-menu(href="#"): i.material-icons menu
				ul.navbar
					li: a(href="#") Topics
					li: a(href="#") About
					if isUser
						li: a(href="/user/profile") Account
						li: a(href="/access/logout") Logout
					else
						li: a(href="/access/register") Register
						li: a(href="/access/login") Login
		
		#body
			block content

		script(src="http://code.jquery.com/jquery-1.12.0.min.js", type="text/javascript")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js", type="text/javascript")
		script(src="/js/peerngineer.js")
		
		block js
