extends layouts/layout

block content
	h1= title
	p Welcome to the #{title}

	h1 Login
	form(id="frmlogin" action="/login" method="post")
			p
				label(for="email") Email: <br>
				input(type="text", name="email", value="")
			p
				label(for="password") Password: <br>
				input(type="password", name="password", value="")
			p
				button.btn(id="btnLogin") Login
			p #{err_message}


	<hr />

	h1 Register
	form(id="frmRegister" action="/register" method="post")
			p
				label(for="_email") Email: <br>
				input(type="text", name="_email", value="")
			p
				label(for="_password") Password: <br>
				input(type="password", name="_password", value="")
			p
				label(for="c_password") Confirm Password: <br>
				input(type="password", name="c_password", value="")
			p
				button.btn(id="btnRegister") Register
			p #{_err_message}
