extends layouts/layout

block content
	h1= title
	p Welcome to the #{title}

	<hr />

	h1 Register
	form(id="frmRegister" action="/register" method="post")
			.field
				label(for="_email") Email:
				input(type="text", name="_email", value="")
			.field
				label(for="_password") Password:
				input(type="password", name="_password", value="")
			.field
				label(for="c_password") Confirm Password:
				input(type="password", name="c_password", value="")
			.field
				button.btn(id="btnRegister") Register
