extends layouts/nonav

block content
	#login
		.login
			h1.heading Login
			form(id="frmlogin" action="/login" method="post")
				if err
					.errors
						p= err
				.field
					label(for="email") Email
					input#email.focus(type="text", name="email", value= (!!email) ? email : "")
				.field
					label(for="password") Password
					input#password(type="password", name="password")
				.field
					button.btn(id="btnLogin") Login
