extends layouts/layout

block content
	h1= title
	p Welcome to the #{title}

	h1 Register
	form(id="frmRegister" action="/register" method="post")
			p
				label(for="email") Email: <br>
				input(type="text", name="email", value= (!!email) ? email : "")
			p
				label(for="password") Password: <br>
				input(type="password", name="password", value="")
			p
				label(for="c_password") Confirm Password: <br>
				input(type="password", name="c_password", value="")
			p
				button.btn(id="btnRegister") Register
			p #{err}