extends layouts/layout

block content
	#resetpasswd
		.resetpasswd
			h1.heading Reset Password
			form(id="frmresetpasswd" action="/resetpasswd" method="post")
				if err
					.errors
						p= err
				.field
					label(for="email") Email
					input#email.focus(type="text", name="email", value= (!!email) ? email : "")
				.field
					button.btn(id="btnResetPasswd") Reset Password
