extends ../layouts/nonav

block content
	#changeavatar
		.changeavatar
			h1.heading Change Avatar
			form(id="frmChangeAvatar" action="/user/changeavatar" method="post" enctype="multipart/form-data")
				.warnings
					p="Image size should not exceed 10MB."
				if err
					.errors
						p=err
				.field
					label(for="photo_image") Choose Image: <br>
					input#photo_image.focus(type="file", name="image", accept="image/*")
				.field
					button.btn(id="btnUpload", type="submit") Upload