extends ../layouts/nonav

block content
	#changeavatar.access
		.changeavatar.container-access
			h1.heading Change Avatar
			form(id="frmChangeAvatar" action="/user/changeavatar" method="post" enctype="multipart/form-data")
				.warnings
					p="Image size should not exceed 10MB."
				if err
					.errors
						p=err
				.field
					label(for="photo_image") Choose Image: <br>
					input#photo_image(type="file", name="image", accept="image/*")
				.field
					button.btn-large.button(id="btnUpload", type="submit") Upload
