extends ../layouts/nonav

block content
	#profile
		.profile
			.row
				.gravatar.col-xs-12.col-sm-5.col-md-3
					img(src="#{(user && !!user.gravatar) ? user.gravatar: auth.password.profileImageURL}")
					h3.uname @#{user.username}
				.user-info.col-xs-12.col-sm-7.col-md-9
					h1.user-name= user.fullname
					p.user-bio= user.bio
					.buttons
						a.button.inline(href="/user/profile_edit") Edit
						a.button.inline(href="/user/changeavatar") Change Gravatar
						a.button.inline(href="/access/changepasswd") Change password
						
