.button {
	border: none;
	display: block;
	border-radius: 2px;
	background-color: $green;
	color: white;
	font-weight: 400;
	box-shadow: $btn-box;
	text-transform: uppercase;
	margin: 5px auto;
	text-align: center;
	cursor: pointer;
	@include transition(all 0.3s);

	i {
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px 0 -10px;
	}

	&.inline {

		@media all and (min-width: 768px) {
			display: inline-block;
			margin: 5px 10px 5px auto;
		}
	}

	&:visited {
		color: white;
	}

	&:hover,
	&:focus {
		text-decoration: none;
		color: white;
		background-color: lighten($green, 10%);
	}
}
