.button {
	border: none;
	display: block;
	border-radius: 2px;
	background-color: $green;
	color: white;
	font-weight: 400;
	box-shadow: $small-box;
	text-transform: uppercase;
	margin: 5px auto;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	@include transition(all 0.3s);

	i {
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px 0 -10px;
	}

	&.red {
		@extend .red;
	}

	&.align {
		margin: 0;
		display: inline-block;
	}

	&.inline {

		@media all and (min-width: 768px) {
			display: inline-block;
			margin: 5px 10px 5px auto;
		}
	}

	&:hover,
	&:focus {
		text-decoration: none;
		color: white;
		background-color: lighten($green, 10%);
	}
}

.edit-button {
	background-color: rgba(0,0,0,0);
	border: none;
	color: gray;
	padding: 5px;
	margin: 0;

	&:focus,
	&:hover {
		background-color: rgba(0,0,0,0);
	}
}
