#dayTimePicker {
	width: 100%;
	padding: 10px 5px;

	.dayTimePicker {

		.day {
			text-transform: uppercase;
		}

		.time-container {
			width: 100%;
			border-radius: 5px;
			background-color: $lightgray;
			@include transition(height 0.5s);

			.instruction {
				text-align: center;
				margin: 5px auto;
				color: darken($lightgray, 20%);
			}

			.time {
				width: 100%;
				text-align: center;
				padding: 10px;
				font-size: 1.2em;
				font-weight: 400;
				cursor: pointer;
				@include transition(all 0.2s);

				.select-time {
					display: block;

				}

				&.selected {
					background-color: lighten($blue-primary, 10%);
					color: white;
				}

				&:hover {
					background-color: lighten($blue-primary, 10%);
					font-weight: bold;
					color: white;
				}
			}
		}
	}
}
