extends ../layouts/nonav

block content
	#register.access
		.register.container-access
			h1.heading Register
			form(id="frmRegister" action="/access/register" method="post")
				if err
					.errors
						p=err
				.field
					label(for="email") Email: <br>
					input#email.focus(type="text", name="email", value= (!!email) ? email : "")
				.field
					button.btn(id="btnRegister") Register
			p Already have an account? <a href="/access/login">Login</a>
