extends ../layouts/nonav

block content
	#register
		.register
			h1.heading Register
			form(id="frmRegister" action="/access/register" method="post")
				if err
					.errors
						p=err
				.field
					label(for="email") Email: <br>
					input#email.focus(type="text", name="email", value= (!!email) ? email : "")
				.field
					label(for="password") Password: <br>
					input#password(type="password", name="password", value="")
				.field
					label(for="c_password") Confirm Password: <br>
					input#c_password(type="password", name="c_password", value="")
				.field
					button.btn(id="btnRegister") Register
			p Already have an account? <a href="/access/login">Login</a>
