extends ../layouts/nonav

block content
	#resetpasswd.access
		.access-logo
			a(href="/")
				img.access-img(src="/images/peerngineer-org.png")
		.resetpasswd.container-access
			h1.heading Reset Password
			form(id="frmresetpasswd" action="/access/resetpasswd" method="post")
				if err
					.errors
						p= err
				.field
					label(for="email") Email
					input#email.focus(type="text", name="email", value= (!!email) ? email : "")
				.field
					button.btn-large.button(id="btnResetPasswd") Reset Password
