* {
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background-color: $lightgray;

	&.nonav {
		
	}

	&.default {

		#body {
			width: 100%;
			height: 100%;
			padding: 103px 10px 10px;
		}
	}

	h1 {
		margin: 5px;

		&.heading {
			font-weight: 400;
			text-transform: uppercase;
			color: darken(gray, 15%);
		}
	}

	a {
		text-decoration: none;
		border-bottom: 3px solid rgba($blue, 0.5);
		@include transition(color 0.5s linear);

		&:visited,
		&:focus {
			color: inherit;
			text-decoration: none;
		}
	}

	li {
		list-style-type: none;
	}

	header {
		width: 100%;
		height: 103px;
		margin: 0 auto;
		padding: 20px;
		background-color: $blue;
		box-shadow: 0 1px 4px #333;
		position: fixed;
		top: 0;
		left: 0;

		#header {
			position: relative;
			width: 100%;
			text-align: center;

			.menu-btn {
				width: 100px;
				padding: 30px;
				position: absolute;
				left: 0;
				cursor: pointer;

				.btn-hrz-mid {
					display: block;
					width: 100%;
					position: relative;
					border-top: 3px solid white;
					@include transition(all 0.2s ease-in-out);

					&::before {
						content: '';
						display: block;
						border-top: 3px solid white;
						width: 100%;
						position: absolute;
						@include transition(all 0.2s ease-in-out);
						left: 0;
						top: -11px;
					}

					&:after {
						content: '';
						display: block;
						border-bottom: 3px solid white;
						width: 100%;
						position: absolute;
						@include transition(all 0.2s ease-in-out);
						left: 0;
						bottom: -8px;
					}
				}

				&:hover {
					.btn-hrz-mid {
						&::before {
							content: '';
							display: block;
							border-top: 3px solid white;
							width: 100%;
							position: absolute;
							@include transition(all 0.2s ease-in-out);
							left: 0;
							top: -15px;
						}

						&:after {
							content: '';
							display: block;
							border-bottom: 3px solid white;
							width: 100%;
							position: absolute;
							@include transition(all 0.2s ease-in-out);
							left: 0;
							bottom: -12px;
						}
					}
				}

				&.open {

					.btn-hrz-mid {
						border: 3px solid rgba(0, 0, 0, 0);

						&::before {
							content: '';
							display: block;
							border-top: 3px solid white;
							width: 100%;
							position: absolute;
							top: 0;
							@include transition(all 0.2s ease-in-out);
							@include transform(rotate(45deg));
						}

						&:after {
							content: '';
							display: block;
							border-top: 3px solid white;
							border-bottom: none;
							width: 100%;
							position: absolute;
							top: 0;
							@include transition(all 0.2s ease-in-out);
							@include transform(rotate(-45deg));
						}
					}
				}
			}

			.logo {
				display: inline-block;
				vertical-align: middle;
				padding: 12px 0;
				margin: auto;

				h1 {
					margin: 0;
					padding: 0;
					display: inline-block;
					color: white;
					font-weight: 400;
					text-decoration: overline;
					text-shadow: 0 0 5px rgba(black, 0.5);
				}
			}

			.log-reg {
				padding: 0;
				margin: 0;
				display: inline-block;
				position: absolute;
				right: 0;
				top: 50%;
				@include transform(translateY(-50%));

				li {
					display: inline-block;

					a {
						display: block;
						padding: 10px;
						color: white;
					}
				}
			}
		}
	}


}
