// Colors
$pink: #F24472;
$blue: #0568A6;
$green: #30BF45;
$yellow: #FFFF00;
$red: #F23838;
$lightgray: #fafafa;

// Shadows
$def-box: 0px 2px 5px 0px rgba(0,0,0,0.16),
		0px 2px 5px 0px rgba(0,0,0,0.23);
