// Colors
$yellow: #FFFF00;
$red: #F23838;
$blue-dark: #1976D2;
$blue-primary: #2196F3;
$green: #8BC34A;
$dark-text: #000;
$primary-text-color: lighten($dark-text, 13%);
$primary-color: $blue-primary;
$lightgray: #fbfbfb;

$facebook_color : #365397;
$twitter_color : #00a9f1;
$linkedin_color : #006db3;

// Shadows
$def-box: 0px 2px 5px 0px rgba(0,0,0,0.16),
		0px 2px 5px 0px rgba(0,0,0,0.23);
$btn-box: 0 2px 5px 0 rgba(0,0,0,0.16),
		0 2px 10px 0 rgba(0,0,0,0.12);
