#admin {
	@extend #profile;

	.admin-container {
		max-width: 1280px;
		margin: 0 auto;
		padding: 30px 20px;

		.stats-container {
			width: 100%;

			.stat {
				padding: 10px;

				.stat-container {
					display: block;
					padding: 10px;
					box-shadow: $small-box;
					color: white;
					text-decoration: none;
					border: none;
					@include transition(all 0.3s);

					i {
						@include display(flex);
						@include justify-content(center);
						@include align-items(center);
						font-size: 4.8em;
					}

					span {

						p {
							text-transform: uppercase;
							margin: 5px 0;
						}
					}

					&.user-count {
						background-color: $primary-color;

						&:hover {
							background-color: lighten($primary-color, 5%);
						}
					}

					&.mentee-count {
						background-color: $red;

						&:hover {
							background-color: lighten($red, 5%);
						}
					}

					&.mentor-count {
						background-color: $green;

						&:hover {
							background-color: lighten($green, 5%);
						}
					}
				}
			}
		}

		.topics-container {
			width: 100%;

			.topics {
				padding: 20px;
				background-color: white;
				box-shadow: $small-box;

				.topic-container {
					padding: 10px;

					.topic {
						width: 100%;
						display: block;
						text-align: center;
						padding: 20px;
						border: none;
						background-color: lighten($green, 10%);
						color: white;
						box-shadow: $small-box;

						&.js {
							background-color: darken($yellow, 5%);
						}

						&.php {
							background-color: darken(purple, 8%);
						}
					}
				}
			}
		}
	}
}
