#admin {
	@extend #profile;

	.admin-container {
		max-width: 1280px;
		margin: 0 auto;
		padding: 30px 20px;

		.stats-container {
			width: 100%;

			.stat {
				padding: 10px;

				.stat-container {
					display: block;
					padding: 10px;
					box-shadow: $small-box;
					color: white;
					text-decoration: none;
					border: none;
					@include transition(all 0.3s);

					i {
						@include display(flex);
						@include justify-content(center);
						@include align-items(center);
						font-size: 4.8em;
					}

					span {

						p {
							text-transform: uppercase;
							margin: 5px 0;
						}
					}

					&.user-count {
						background-color: $primary-color;

						&:hover {
							background-color: lighten($blue-primary, 10%);
						}
					}

					&.mentee-count {
						background-color: $primary-color;

						&:hover {
							background-color: lighten($blue-primary, 8%);
						}
					}

					&.mentor-count {
						background-color: $primary-color;

						&:hover {
							background-color: lighten($blue-primary, 6%);
						}
					}
				}
			}
		}

		.topics-container {
			width: 100%;

			.topics {
				padding: 20px;
				background-color: white;
				box-shadow: $small-box;

				.topic-container {
					padding: 10px;

					.topic {
						width: 100%;
						display: block;
						text-align: center;
						padding: 20px;
						border: none;
						background-color: lighten($green, 10%);
						color: white;
						box-shadow: $small-box;
						position: relative;
						@include transition(background-color 0.3s);

						&.js {
							background-color: #f0db4f;

							&:hover {
								background-color: darken(#f0db4f, 10%);
							}
						}

						&.php {
							background-color: #777bb4;

							&:hover {
								background-color: darken(#777bb4, 10%);
							}
						}

						.abs-name {
							position: absolute;
							bottom: 5px;
							left: 5px;
							text-transform: uppercase;
							margin: 0;
						}

						.abs-cat {
							position: absolute;
							top: 5px;
							right: 5px;
							text-transform: uppercase;
							margin: 0;
						}
					}
				}
			}
		}
	}
}
