#login {
	width: 100%;
	height: 100%;
	padding: 20px;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);

	.login {
		margin: 0 auto;
		width: 600px;
		max-width: 100%;
		text-align: center;
		padding: 40px 30px;
		border-radius: 5px;
		background-color: white;
		box-shadow: $def-box;
	}
}
