form#edit-profile,
#profile {
	width: 100%;
	height: 100%;
	padding: 50px 20px 20px;

	.edit-profile,
	.profile {
		max-width: 1280px;
		margin: 0 auto 15px;;
		padding: 20px;
		box-shadow: $def-box;
		border-radius: 3px;
		background-color: white;
		@include transition(padding 0.3s);

		.row {
			margin: 0 auto;

			.gravatar {
				padding: 10px;
				text-align: center;

				img {
					width: 70%;
					border-radius: 50%;
				}

				.uname {
					margin: 0;
				}
			}

			.user-info {
				padding: 10px;
				text-align: center;

				@media all and (min-width: 768px) {
					text-align: left;
				}
			}
		}

		&.complete-profile {
			text-align: center;

			h3 {
				margin: 0;
			}
		}

		@media all and (min-width: 768px) {
			padding: 30px 70px;
		}
	}
}
