form#edit-profile,
#profile {
	width: 100%;
	height: 100%;
	padding: 50px 20px 20px;

	.edit-profile,
	.profile {
		max-width: 1280px;
		margin: 0 auto 15px;;
		padding: 20px;
		box-shadow: $def-box;
		border-radius: 3px;
		background-color: white;
		@include transition(padding 0.3s);

		.row {
			margin: 0 auto;

			.gravatar {
				padding: 10px;
				text-align: center;

				img {
					width: 70%;
					border-radius: 50%;
				}

				.uname {
					margin: 0;
				}
			}

			.user-info {
				padding: 10px;
				text-align: center;

				@media all and (min-width: 768px) {
					text-align: left;
				}
			}
		}

		&.complete-profile {
			text-align: center;

			h3 {
				margin: 0;
			}
		}

		@media all and (min-width: 768px) {
			padding: 30px 70px;
		}

		.topics-container {
			width: 100%;

			.topics {

				.topic-container {
					padding: 10px;

					.topic {
						width: 100%;
						display: block;
						text-align: center;
						padding: 20px;
						border: none;
						background-color: lighten($green, 10%);
						color: white;
						box-shadow: $small-box;
						position: relative;
						@include transition(all 0.3s);

						&.js {
							background-color: #f0db4f;

							&:hover {
								background-color: darken(#f0db4f, 10%);
							}
						}

						&.php {
							background-color: #777bb4;

							&:hover {
								background-color: darken(#777bb4, 10%);
							}
						}

						&.selected {
							box-shadow: none;
							border: 5px solid $blue-primary;

							&::after {
								content: "\f046";
								font-family: FontAwesome;
								display: block;
								position: absolute;
								bottom: 5px;
								right: 5px;
								color: white;
								font-size: 1.4em;
							}
						}

						.abs-name {
							position: absolute;
							bottom: 5px;
							left: 5px;
							text-transform: uppercase;
							margin: 0;
						}

						.abs-cat {
							position: absolute;
							top: 5px;
							right: 5px;
							text-transform: uppercase;
							margin: 0;
						}
					}
				}
			}
		}
	}

	.profile-info {
		max-width: 1280px;
		margin: 0 auto 15px;

		.collapsible {

			.collapsible-header {
				padding: 10px;

				i {
					display: inline-block;
					vertical-align: middle;
					margin: 0;
				}

				.c-header {
					margin: 0;
					padding: 5px;
					display: inline-block;
					vertical-align: middle;
					text-transform: uppercase;
					font-weight: lighter;
				}
			}

			.collapsible-body {
				padding: 10px;

				li {
					padding: 5px 0;
					font-size: 1.2em;

					span {
						display: inline-block;
						vertical-align: middle;
					}

					a {
						display: inline-block;
						vertical-align: middle;
						color: inherit;
						border: none;

						&:hover {
							text-decoration: none;
						}
					}

					i {
						font-size: 1.5em;
						margin-right: 10px;
						display: inline-block;
						vertical-align: middle;

						&[class*="facebook"] {
							color: $facebook_color;
						}

						&[class*="linkedin"] {
							color: $linkedin_color;
						}

						&[class*="phone"] {
							color: $primary-color;
						}
					}

				}

				.education {

					div {

						p {
							text-transform: uppercase;
							padding: 0;
						}

						h5 {
							text-transform: capitalize;
						}
					}

				}
			}
		}
	}
}
